<ion-header>
  <ion-toolbar>
    <ion-icon name="cart" slot="start"></ion-icon>
    <ion-title>Panier</ion-title>
    <ion-label slot="end" >{{price | currency:"EUR":"symbol":"1.2-2"}}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let article of listPanier">
      <ion-label>{{article.article.name}}</ion-label>
      <ion-button (click)="substractOne(article.article.id,1)">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>
      <ion-label>{{article.quantity}}</ion-label>
      <ion-button (click)="plusOne(article.article.id,1)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
