<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="cart" slot="start"></ion-icon>
    <ion-title>
      Liste d'articles
    </ion-title>
    <ion-button slot="end" (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let article of listArticle">
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteItem(article.id)">Delete</ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label>{{article.name}}</ion-label>
        <ion-select cancelText="Annuler" okText="Ajouter" #numberOfArticle>
          <ion-select-option *ngFor="let val of [1,2,3,4,5]" [value]="val">{{val}}</ion-select-option>
        </ion-select>
        <ion-button (click)="onClick(numberOfArticle,article.id)">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item-options side="start" (ionSwipe)="addTen(100, article.id)">
        <ion-item-option color="success" (click)="addTen(10, article.id)" expandable>Add 10</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
